.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App h1 {
  font-size: 2.5rem;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #c72020;
  border-radius: 50%;
  display: inline-block;
}

hr {
  width: 20%;
  border: 3px solid #c72020;
  border-radius: 5px;
  margin: -5px 40% 10px 40%;
}

.div-rows {
  margin-top: 30px;
}
.row {
  display: flex;
}